[submodule "LSEngine/vendor/spdlog"]
	path = LSEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LSEngine/vendor/glm"]
	path = LSEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "LSEngine/vendor/glfw"]
	path = LSEngine/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "LSEngine/vendor/imgui"]
	path = LSEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
